body {
  background: #998235;
  margin: 75px 125px;
  width: 200px;
  height: 400px;
}
p {
  margin: 0;
  float: left;
  height: 75px;
  width: 75px;
  background: #FFF;
  border-radius: 50px;
}
.a {
  border-bottom-right-radius: 0;
}
.b {
  border-bottom-left-radius: 0;
}
.c {
  width: 150px;
  background: linear-gradient(90deg, #191919 25px, 0, #EFF33C 35px, 0, #191919 60px, 0, #EFF33C 70px, 0, #191919 95px, 0, #EFF33C);
}
/* auge */
.d {
  position: fixed;
  width: 15px;
  height: 15px;
  background: #191919;
  top: 170px;
  left: 240px;
} 

@keyframes jump {
  0%   {transform: translate3d(0,0,0)}
  40%  {transform: translate3d(0,30%,0)}
  100% {transform: translate3d(0,100%,0)}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump 5s linear alternate infinite;
}